.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(37, 119, 142);
    border:1px solid rgba(0, 139, 67, 0.719);
    border-radius: 3px;
    padding: 10px;
    font-size: 25px;
    color: #fff;
    width: 10%;
}

.animal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}